body{
    background-color:#b5e4f7;
}

.page-header{
    background-color: pink;
    color: white;
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;     
}

.topNav{
    background-color:#0481f5;
    padding-top: 5px;
    height: 50px;
}

a{ 
    color:white;
    font-size: 1.2em;
    padding: 0 60px 10px 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;         
}

a:hover{
    color:#b5e4f7;
}

a.active{
    text-decoration: underline;
}

.verticalNav{   
    background-color: #0481f5;
    margin: 5px;
    margin-top: 20px;   
}


.col-lg-2{
    background-color: aliceblue;
    margin-bottom: -46%;
    overflow: hidden;
}

.col-lg-8{
    background-color: white;
    margin-bottom: -46%;
    overflow: hidden;
}

#algebra, #perimeter,#mass{
    background-color: #f19d9d;
}

.scrollStyle {
    max-height: 500px;
    overflow-y: scroll;
    background-color: white;
    border: black;
    padding: 5px;
    margin-bottom: 40px;
}

